<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
    <small id="emailHelp" class="form-text text-muted">We won't share with anyone.</small>
  </div>

  <div class="form-group">
    <%= form.label :donation_in_aud %>
    <%= form.number_field :donation, class: "form-control" %>
    <small id="donationHelp" class="form-text text-muted">Don't worry, we're not collecting donations yet - just guaging interest. $0 is fine.</small>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
