<p>Thanks for registering <%= @player.name %>.</p>

<p>
  We'll send you an email when more information is available. Until then follow
  the conversation in <%= link_to "Discord", "https://discord.fortressone.org" %>.
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Donation:</strong>
  <%= @player.donation %>
</p>

<%= link_to 'Back', new_player_path %>
