<!DOCTYPE html>
<html>
  <head>
    <title>FortressOne Oceania Tournament 2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>
            FortressOne Oceania Tournament 2019</br>
            <small class="text-muted">$<%= @total_pledged %> prize-pool pledged so far</small>
          </h1>
          <ul>
            <li>
              <%= link_to "Discord", "https://discord.fortressone.org" %>
            </li>
            <li>
              <%= link_to "Toornament", "https://www.toornament.com/tournaments/1978738146047483904" %>
            </li>
          </ul>
        </div>
      </div>

      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-primary", role: :alert %>
      <% end -%>

      <%= yield %>
    </div>
  </body>
</html>
