<!DOCTYPE html>
<html>
  <head>
    <title>FortressOne Oceania Tournament 2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>
            FortressOne Oceania Tournament 2019</br>
            <small class="text-muted">$<%= @total_pledged %> prize-pool pledged so far</small>
          </h1>
          <ul>
            <li>
              Games will be scheduled from 20:00 AEDT on Sunday evenings,
              beginning 6 Jan 2019.
            </li>
            <li>
              Teams can organise between themselves to play before this date or
              time if they want to.
            </li>
            <li>
              We're still working out the exact structure, but it's likely to
              be a league with a playoff, with prizes for the top four teams.
            </li>
            <li>
              The format will be 4v4 attack vs defense with ten minute halves
              over five maps.
            </li>
            <li>
              A full set of rules is forthcoming. We want this to be an
              inclusive process so feel free to give your thoughts in the
              <%= link_to "Discord", "https://discord.fortressone.org" %>
              server.
            </li>
            <li>
              No team no problem, register and we'll find you a team.
            </li>
          </ul>
        </div>
      </div>

      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-primary", role: :alert %>
      <% end -%>

      <%= yield %>
    </div>
  </body>
</html>
